/**
 * styles.css
 * by: Anneke ter Schure, 6084087
 * Global CSS.
 */

#wrapper {
    margin: inherit;
    align-content: left;
}

/**
 * styles for map
 */
#map {
    float: left;
    width: 700px;
    height: 450px;
    background-color: #F1F5FF;
}

path:hover {  opacity:0.7; }

.datamaps-legend {
    float: none;
    margin-left: 2%;
    top: inherit;
}

/**
 * styles for bar chart
 */

 p {
   margin: 0.5em;
 }

#detail {
    margin-left: 720px;
    background-color: #F1F5FF;
    height: 450;
}

#detail p {
    color: steelblue;
    font: 12px sans-serif;
    text-align: left;
}

#clearSelection {
    position: absolute;
    background-color: #F1F5FF;
    transition: .5s ease;
    top: 70px;
    left: 90%;
}

.chart text {
    fill: black;
    font: 10px sans-serif;
}

.tip {
    visibility: visible;
}

/**
 * styles for overall webpage
 */
body {
    color: steelblue;
    text-align:left;
    font-size: 16px;
    font-family:Trebuchet MS;
    width:100%;
    height:100%;
    margin:1%;
}

#header {
    background-color: white;
    color: steelblue;
    text-align: left;
    font-size: 16px;
    font-family: Trebuchet MS;
    min-width: 80%;
    height: 50px;
}

#textarea {
    margin-top: 850px;
    width: 700px;
    clear: both;
    background-color:white;
    position: bottom;
    text-align: left;
    font-size: 12px;
    font-family: sans-serif;
}

#footer {
    clear: both;
    background-color:white;
    position: bottom;
    text-align: left;
    font-size: 12px;
    font-family: sans-serif;
    bottom: 0;
    min-width: 80%;
    height: 40px;
}

/**
 * styles for line graph
 */
 #time {
    position: absolute;
    margin-top: 500px;
    background-color:#F1F5FF;
    width: 700px;
    vertical-align: text-top;
 }

 .axis path,
 .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
 }

 .axis text {
     fill: black;
     font: 10px sans-serif;
 }
