/**
 * styles.css
 * by: Anneke ter Schure, 6084087
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: darkred;
}

#tooltip {
    color:#ffffff;
    position: absolute;
    z-index: 2;
    background-color: #800000;
    visibility: hidden;
}

body {
    font:12px serif;
    width:100%;
    height:100%;
    margin:1%;
}

h1 {
    color:darkred;
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

textarea {
    position: fixed;
    top: 500px;
    right: 20px;
    width:20%;
    height:50px;
}

.overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}
